.dragndrop-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 2px solid #ccc;
  padding: 1rem;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid lightgreen;
  padding: 1rem;

  h4 {
    color: lightslategray;
  }
}

.item {
  padding: 0.5rem;
  border: 5px solid lightcyan;
  margin: 0.5rem;
}
